{% extends "layout.html" %}

{% block body%}

<p style="color: red">{{message}}</p>
{% for message in get_flashed_messages() %}
<p style="color: red">{{ message }}</p>
{% endfor %}
<form action="{{ url_for('chat') }}" 
      method="POST"
      id="login" 
      autocomplete="off">
    <input class="form-control"
          id="name"
          name="name"
          placeholder="choose a name" 
           />
    <input class="form-control"
           type="text" 
           name="room"
           list="rooms_options" 
           id="rooms"
           placeholder="choose or create a room" />
          <datalist id="rooms_options"></datalist>
    <div>
      <button id="join_button" class="btn btn-primary">Join a room</button>
    </div> 
</form>
{% endblock %}}

{% block footer %}


{% endblock %}